.hm-gradient {
    background-image: url(images/konserr.jpeg);
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
    background-size: cover;
    /* background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); */
}
