:root{
    --fs-heading: 2.5rem;
    --fs-para: 1.25rem;
    --bp-left: 0.5rem;
    --bp-right: 0.5rem;
    
}
*{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}
body{
    background-color: #F1F5F9;
}
.navbar{
    background-color: #FFFFFF;
    padding-bottom: 0rem;
    height: 3.5rem;
    padding: 0.5rem; 
}
#navbar-container{
    padding-left: 0.5rem;
    padding-right: 0;
}
#logo {
    padding-top: 0.2rem;
    padding-bottom: 0.25rem;
}
#logo img{
    width: 112;
    height: 29;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-form{
    position: relative;
    height: 2.5rem;
    width: 15.5rem;
    box-shadow: none;
    margin: 0rem;
    margin-left: 1.200rem;
    
}

#nav-form input{
    border: 1px solid #cbd5e1;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    padding-top: 0.35rem;
    padding-left: 2.455rem!important;
    margin-right: 0rem !important;
}
#nav-form input::placeholder{
    font-family: 'Inter', sans-serif;
    opacity: 0.7;
    font-size: 0.875rem;
}
#nav-form-si{
    box-sizing: border-box;
    position: absolute;
    left: 1.080rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.79rem;
}
/* Dropdown Button */
.dropbtn {
    font-size: 0.875rem;
    border: none;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding-left: 0.375rem;
    padding-right: 0.4097rem;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    margin-left: 0.05rem;
}
#first-nav-btn{
    margin-left: 0rem;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropdown-content {
    opacity: 1;    
    -webkit-transform: translateY(-1.25rem);
    transform: translateY(-1.25rem);
    transition: all .3s ease-in;
    visibility: visible;
    animation-direction: alternate;
}
.dropdown-content {
    
    transition-duration: 0.3s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 2.8125rem;
    background-color: white;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* margin-top: 1.125rem;
    margin-bottom: 1.125rem; */
    border-radius: 0.625rem;
    min-width: 12rem;
    font-size: 0.875rem;
    line-height: 1.2rem;
    margin: 1.125rem 0;
    padding: 1rem 0;
    padding-left: 0.25rem;
    
}
#down-icon{
    font-size: 0.625rem;
    margin-left: 0.25rem;
    padding-top: 0.3125rem !important;
    color: black;
    opacity: 1;
    font-weight: bolder;
}

/* Links inside the dropdown */

.dropdown-content a {
    font-size: 0.875rem;
    color: black;
    padding: 0.375rem 1rem;
    text-decoration: none;
    display: block;
    margin: 0rem;
}
.inner-item a{
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 0.875rem;
    
}
#right-icon{
    color: black;
    text-decoration: none;
    display: block;
    font-size: 0.625rem;
    font-weight: 400;
    margin: 0rem;
    padding: 0rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    
}
.inner-item-NB{
    background-color: #754FFE;
    padding: 0.25rem 0.5rem;
    margin-top: 0.4375rem;
    font-size: 0.75rem;
    color: white;
    border-radius: 0.3125rem;
    display: inline;
    height: fit-content;
    font-weight: 500;
}
.title{
    text-decoration: none;
    color: #64748b;
    font-size: .6875rem;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    padding: 0.25rem 1.2rem;
    font-family: Inter,"sans-serif";
}
.devider{
    margin: auto;
    width: 90%;
    border: 0;
    border-top: 0.125rem solid #e2e8f0;
}
.bi-three-dots{
    font-size: 1rem;
}

.dropdown-inner-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    min-width: 12rem;
 
}

#docCon, #stackCon, #stackCon span, #docCon span{
   
    padding: 0.375rem 1rem;
    font-size: 0.875rem;
    color: black;
    text-decoration: none;
    
}

/* Nav Right Side */

#nav-right{
    padding: 0rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 0rem;
    width: fit-content;
}
.nav-right-item{
    margin-left: 0.5rem;
    list-style-type: none;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    font-size: 0.875rem;
    overflow: visible;
    background-color: #f1f5f9;
    color: #94A3B8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bi-brightness-high-fill{
    font-size: 1.5rem;
    opacity: 1;
}
.notiIcon{
    box-sizing: border-box;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    box-sizing: border-box;
    border: 0.125rem solid white;
    background-color: #38A169;
    position: absolute;
    bottom: 0rem;
    right: 5%;
}
.bellIcon{
    background-color: #754FFE;
    top: 0.0625rem;
    right: 10%;
}
.nav-right-item img{
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* NAVBAR ENDS HERE */
/* Banner */

.banner{
    background-color: #e98913   ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
}
.banner-container{
    margin-left: 0px;
    margin-right: 0px;
    max-width: 1320px;
    padding-top: 3.5rem;
    padding-bottom: 7.5rem;
    
}
/* .banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.banner-text h1{
    color: #fff;
    font-weight: 600;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-heading);
    margin-bottom: 0.5rem;
    letter-spacing: -.02rem;
    line-height: 1.2;
    box-sizing: border-box;
    
}
.banner-text p{
    color: #FFFFFF;
    font-size: var(--fs-para);
    font-weight: 500;
    /* line-height: 1.6em; */
    /* letter-spacing: -.03rem; */
    /* margin-bottom: 2.5rem;
     */
    
/* } */ */
.banner-tags{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #FFFFFF;
    font-size: 0.875rem;
}
.bt-bookmark, .bt-enrolled, .bt-stars, .bt-inter{
    font-size: 0.875rem;
    margin-left: 1.5rem;
}
.bt-bookmark{
    
    margin-left: 0rem;
}
.bt-bookmark i{
    font-size: 0.70rem;
    margin: 0rem;
    padding: 0rem;
}
.bt-enrolled{
    margin-left: 1rem;
    font-size: 0.875rem;
    font-style: normal;
}
.bt-enrolled i{
    font-size: 0.775rem;
    font-style: normal;
}
.bi-star-fill, .bi-star-half{
    font-size: 0.65rem;
    color: #F59E0B;
    margin: 0rem;
    padding: 0rem;
}
.bi-star-half{
    margin-right: 0.4rem;
}



/* Banner Ends */


/* Main Body */

.main-bd{
    /* border: 1px solid black; */


}
.main-bd-left{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.main-bd-left-con{
    border-radius: 0.5rem;
    background-color: #FFFFFF;
}
.nav-tabs{
    padding-bottom: 0.05rem;
}
.nav-tabs li{
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}
.nav-tabs li:hover a{
    border: none;
    border-bottom: 2px solid blue !important;
    color: blue;
}
#ex1-tab-1, #ex1-tab-2, #ex1-tab-3, #ex1-tab-4, #ex1-tab-5{
    color: #64748b;
    font-size: 0.875rem;
    padding: 1.05rem 0rem;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: none;
    border-bottom: 2px solid blue !important;

}




.tab-content{
    /* border: 1px solid black; */
    padding: 1.5rem;
    padding-top: 1rem;
}
#collapseExample{
    transition-duration: 0.3s;
    color: blue;
}



/* contents tab */
.list-item-con{
    margin: 0rem;
}
.list-item{
    text-decoration: none;
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #1e293b;
    font-size: 1rem;
    font-weight: 400;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;

}
.inner-tab-listitem{

    display: flex;
    justify-content: space-between;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    height: 2rem;
    
}
.inner-tab-listitem span{
    color: #64748b;
    font-size: 0.875rem;
    
}
.inner-tab-con{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 1px solid black;
}
.inner-tab-listitem i{
    padding: 0.4rem 0.5rem;
    background-color: #f1f5f9;
    margin-right: 0.5rem;
    border-radius: 50%;
    font-size: 0.875rem;

}

/* description tab */

.dtab-con{
}
.dtab-heading-con{
    margin-top: 0.50rem;
    margin-bottom: 1.6rem;
}
#dtab-heading{
    color: #1E293B;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-family: Inter,"sans-serif";
    font-weight: 400;
    line-height: 1.5;
    margin-top: 0;
    letter-spacing: -0.022rem;
}
#dtab-con p{
    margin-bottom: 1rem;
    margin-top: 0;
    box-sizing: border-box;
    color: #64748B;
    font-size: 0.866rem;
    line-height: 1.6;
    font-weight: 400;
    font-family: Inter, 'sans-serif';
}


#dtab-con h4{
    color: #1E293B;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: Inter, 'sans-serif';
    line-height: 1.5;
    margin-top: 0; 
}
#dtab-subheading-list{
    overflow: auto;
    margin-bottom: 1rem;
}
#dtab-subheading-list i{
    color: #3EA169;
    font-size: 0.875rem;
    margin-top: 0.3rem;
}

.dtab-list-con{
    margin-bottom: 0.5rem;
    
}
.dtab-list-con p{
    margin-bottom: 0;
}


/* Review Tab */
#rtab-heading{
    color: #1E293B;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-family: Inter,"sans-serif";
    font-weight: 400;
    line-height: 1.5;
    margin-top: 0.5rem;
    letter-spacing: -0.022rem;
}
#rtab-rpanel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
#rtab-reviews{
    /* border: 1px solid black; */
}

#rtab-rpanel-num{
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#rtab-rpanel-num h3{
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.2;
    letter-spacing: -0.05rem;
    color: #1E293B;
    margin-bottom: 0.5rem;
    font-family: Inter, 'sans-serif';
}
#rtab-rpanel-num p{
    color: #64748B;
    font-size: 0.75rem;
}
.rtab-rpanel-bar{
    height: fit-content;
    
}
.rating-bar-con{

    height: 6px;
    margin-bottom: 1rem;
    border-radius: 0.375rem;
    background-color: #cbd5e1;
    overflow: hidden;
}
.rating-bar-color{
    background-color: #F59E0B;
    width: 50%;
    height: 6px;
}
.rtab-rpanel-bar div:nth-child(2) div{
    width: 36%;
}
.rtab-rpanel-bar div:nth-child(3) div{
    width: 9%;
}
.rtab-rpanel-bar div:nth-child(4) div{
    width: 3%;
}
.rtab-rpanel-bar div:nth-child(5) div{
    width: 2%;
}
.rtab-rpanel-percent{
    padding: 0;
    margin: 0;
}
.rtab-rpanel-row{

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: fit-content;
    
    
}
.rtab-rpanel-row span{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* margin-top: -13px; */
}
.rtab-rpanel-row span .bi-star-fill{
    font-size: 0.6rem;
    margin: 0;
    padding: 0px;
    margin-right: 0.25rem;
}

.rtab-rpanel-row p{
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    color: #64748b;
    text-align: left;
}
.rtab-reviews-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;

}
.rtab-reviews-header h4{
    color: #1E293B;
    font-size: 1.25rem;
    font-family: Inter, 'sans-serif';
}
.rtab-reviews-img{
    border-radius: 50%;
    
    width: 56px;
    height: 56px;
    object-fit: contain;
    background-image: url(images/rtab-r1.jpg);
    background-position: center;
    background-size: cover;
}
.rtab-reviews-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
}
.rtab-reviews-info h4{
    color: #1e293b;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 500;
    display: inline;
    
}
.rtab-reviews-info-stars{
    margin-bottom: 0.5rem;
}
.rtab-reviews-info p{
    color: #64748B;
    font-size: 0.875rem;
    margin-top: 0rem;
}
.rtab-reviews-info button{
    display: inline;
    font-size: 0.75rem;
    padding: 0.22rem 0.75rem;
    margin-left: 1rem;
    background-color: #754ffe;
    color: #fff;
    line-height: 1.6;
    border-radius: 0.375rem;
    border: none;
}
.rtab-reviews-info button:nth-child(2){
    margin-left: 0rem;
    background-color: #fff;
    color: #754ffe;
    border: 1px solid black;
}
.rtab-reviews-feedback{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.rtab-reviews-info-name{
    /* display: flex;
    justify-content: flex-start; */
}
.rtab-reviews-info-name p{
    color: #64748B;
    font-size: 0.75rem;
    display: inline;
}


/* Transcript Tab */
#ttab-heading{
    color: #1E293B;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-family: Inter,"sans-serif";
    font-weight: 400;
    line-height: 1.5;
    margin-top: 0.5rem;
    letter-spacing: -0.022rem;
}
#ttab-con p{
    font-size: 0.866rem;
    line-height: 1.6;
    font-weight: 400;
    font-family: Inter, 'sans-serif';
    margin-bottom: 1.5rem; 
}
#ttab-con h4{
    color: #1E293B;
    font-size: 1rem;
    margin-bottom: 0.50rem;
    font-family: Inter, 'sans-serif';
    line-height: 1.5;
    margin-top: 0; 
}
#ttab-con-secondP{
    margin-bottom: 1rem !important;
}
.ttab-transcript-title{
    color: #754FFE;
    font-size: 1rem;
    margin-left: 0.70rem;
    margin-bottom: 0.5rem;
}


/* FAQ Tab */
#ftab-con{
    margin-top: 0.5rem;
}
#ftab-heading{
    color: #1E293B;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-family: Inter,"sans-serif";
    font-weight: 400;
    line-height: 1.5;
    margin-top: 0;
    letter-spacing: -0.022rem;
}

#ftab-con p{color: #64748B;
    font-size: 0.866rem;
    line-height: 1.6;
    font-weight: 400;
    font-family: Inter, 'sans-serif';
    margin-bottom: 1.5rem;

}
#ftab-con h4{
    color: #1E293B;
    font-size: 1rem;
    margin-bottom: 0.50rem;
    font-family: Inter, 'sans-serif';
    line-height: 1.5;
    margin-top: 0; 
}

/* Main Body Right Side (Cards Side) */
.main-bd-right{
    margin-top: 1rem;
}

.mb-js-card{
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(17,24,39,.09);
    margin-bottom: 1.5rem;
    padding-top: 0.25rem;
    box-sizing: border-box;
}

.js-card-img{
    box-sizing: border-box;
    margin: 0.30rem;
    margin-top: 0rem;
    box-sizing: border-box;
    height: 200px;
    overflow: hidden;
    border-radius: 0.5rem;
    background-image: url(images/carousel1/car1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;    
}
.js-card-body{
    /* background-color: ; */
    padding: 1.5rem 1.5rem;
    
}
.js-card-price{
    margin-bottom: 1rem;
}
.js-card-price span{
    font-weight: 800;
    color: rgba(15,23,42,1);
    margin-right: 0.3rem!important;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    margin-top: 0;
    letter-spacing: -.002rem;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.js-card-price del{
    color: #64748b;
    opacity: 1;
    font-size: 1rem;
    box-sizing: border-box;
}
.js-card-btn{
    box-sizing: border-box;
}
.js-card-btn1{
    margin-bottom: 0.5rem!important;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.6;
    border-radius: 0.375rem;
    color: #fff;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15),0 1px 1px rgba(0,0,0,.075);
}
.js-card-btn2{
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.6;
    border-radius: 0.375rem;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15),0 1px 1px rgba(0,0,0,.075);
}


/* List Cards */

.mb-list-card{
    box-shadow: 0 1px 3px rgba(17,24,39,.09);
    margin-bottom: 1.5rem!important;
    border-radius: 0.5rem;
    overflow: hidden;
}
.list-card-header{
    padding: 1rem 1.5rem;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e2e8f0;
    font-size: 1.5rem;
    color: rgba(15,23,42,1);
}

.list-group-item{
    color: #64748B;
    font-size: 0.875rem;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 0.8075rem;
    padding-top: 0.8075rem;

}
.list-card-body ul li:last-child{
    padding-bottom: 0.78rem;
}
.bi-play-circle{
    color: #8B57FE;
    font-size: 0.80rem;
    margin-right: 0.30rem;
}
.bi-award{
    color: #38A169;
    font-size: 0.80rem;
    margin-right: 0.30rem;
}
.bi-calendar{
    color: #4CABEA;
    font-size: 0.80rem;
    margin-right: 0.30rem;
}
.bi-camera-video{
    color: #64748B;
    font-size: 0.80rem;
    margin-right: 0.30rem;
}
.bi-clock{
    color: #F59E52;
    font-size: 0.80rem;
}

/* Profile Card */
.pc-body{
    color: #64748B;
    font-size: 0.75rem;
    border-radius: 0.5rem;
}
.pc-header{
}
.pc-header-pic{
    
    border-radius: 50%;
    width: 80px;
    height: 80px;
    
    position: relative;
    z-index: 9999;

}
.pc-header-pic img:first-child{
    width: 90%;
    border-radius: 50%;
    z-index: 9999;
}
/* .pc-header-pic img:last-child{
    width: 31px;
    height: 31px;
    position: absolute;
    top: 10%;
    right: -18%;
    z-index: 99999;
} */
.pc-header-info{
    
}
.pc-header-info h6{
    color: #1e293b;
    font-weight: 600;
    line-height: 1.2;
    /* font-family: Inter,"sans-serif"; */
}
.pc-header-info p{
    font-weight: 400;
    line-height: 2;
    font-size: 0.75rem;
    margin: 0rem;
    padding: 0rem;
    padding-bottom: 1.2px;

}
#ratings{
    font-size: 0.75rem;
    color: #F79E0B;
    
    margin-right: 0.3rem;
}

.pc-tags-heading{
    color: #1E293B;
    font-size: 0.875rem;
    font-style: 'Inter', sans-serif;
    font-weight: 500;
}
.pc-tags-text{
    font-size: 0.875rem;
}


.pc-footer{

}
.pc-footer-text{
    font-size: 0.875rem;
    margin-bottom: 1rem;
    line-height: 1.6;

}
.pc-footer-btn{
    font-size: 0.766rem;
    padding: 0.25rem 0.75rem;
}






/* Cards */

.Cards{
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 115px;
}

.cards-container{
    max-width: 1320px;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
}
.cards-con-h{
    padding: 0rem;
    margin: 0rem;
    margin-bottom: 1.5rem;
    margin-top: 5.5rem;
}
.cards-con-h h2{
    margin: 0rem;
    padding: 0rem;
    font-size: 1.5rem;
    color: #1e293b;
    font-family: Inter,"sans-serif";
    font-weight: 600;
    line-height: 1.5;
    margin-top: 0;
    letter-spacing: -.022rem;
}

.cards-holder{
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    /* border: 10px solid grey; */
}

.card{
    transition: box-shadow .25s ease;
    box-shadow: 0 1px 3px rgba(17,24,39,.09);
    padding: 0rem 0rem;
    overflow: hidden;
    border-radius: 0.5rem !important;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    scroll-snap-align: start;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 0 0 auto;
    width: 23.65%;
    height: fit-content;
    box-sizing: border-box;
    border: none;
}
.card:hover{
    box-shadow: 0 0.25rem 0.625rem rgba(17,24,39,.19);
}
.card:last-child {
    margin-right: 0;
}
.card-body{
    padding: 1.5rem;
    padding-bottom: 1.35rem;
    background-color: #FFFFFF !important;
    
    
}
.cardBodyR{
    margin-left: 0rem;
    margin-right: 0rem;
}
.cardR0{
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
}
.cardR0 h3{
    font-size: 0.9375rem;
    margin-bottom: 0.5rem;
    line-height: 1.59;
    font-weight: 600;
    letter-spacing: 0.0125rem;
    display: block;
}
.cardR1{
    
    
    color: #64748B; 
    font-weight: 400;
    margin: 0rem;
    margin-top: -0.1rem;
    padding: 0rem;
    padding-left: 0.2rem;
    padding-bottom: 0.90rem;


}
.cardR1-1{
    margin-right: 0.5rem;
    font-size: 0.875rem;    
}
.cardR1-1 i{
    font-size: 0.855rem;
    margin-left: -0.2rem;
}
.cardR1-2{
    color: #754FFE;
    opacity: 0.6;
    font-size: 0.875rem;
}
.cardR1-3{
    margin-left: -0.2rem;
    font-size: 0.875rem;
    opacity: 0.7;
}
.cardR2{
    display: flex;
    padding: 0rem;
    padding-left: 0.1rem;
    align-items: center;
    margin-bottom: 2rem;
}
.cardR2-1{
    color: #F59E0B;
    font-size: 0.65rem;
    font-weight: 400;
    margin-right: 0.25rem;
    padding-left: 0rem;
    padding-right: 0rem;
}
.cardR2-2{
    color: #F59E0B;
    font-weight: 400;
    margin-right: 0.25rem;
    font-size: 0.875rem;
}

.cardR2-3{
    color: #64748b;
    font-size: 0.75rem;
    font-weight: 400;
    margin-right: 0.25rem;

}
.card-footer{
    padding: 0rem;
    border-top: 0.0625rem solid #e2e8f0;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
.card-ftr-con{

    margin: 0rem;
    padding: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.card-ftr-pid-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-ftr-profile{
    width: 1.5rem;
    height: 1.5rem;
}
.card-ftr-pid-con span{
    margin-left: 0.5rem;
    color: #64748B;
    font-weight: 400;
    font-size: 0.875rem;
   
}

.card-ftr-profile img{
    width: 100%;
    border-radius: 50%;
}
.card-ftr-con .bi-bookmark{
    color: blue;
    font-size: 0.675rem;

}




/* Footer CSs Starts */
#footer-hr-container{
    background-color: #F1F5F9;
}
#footer-hr{
   
    color: black;
    padding: 0rem;
    width: 88%;
    opacity: 0.08;
    margin: auto;
    margin-bottom: 0rem;
    z-index: 99999;

    
}

footer{
    position: relative;
    background-color: #F1F5F9;
    color: #475569;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin to make the hr identical */
    padding-top: 0.19rem;
}
#footer-container{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer1{
    padding-left: 0rem;
    padding-right: 0rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: #475569;
    line-height: 1.5rem;
}

.footer2{
    line-height: 1.5rem;
    font-size: 0.275rem;
    display: flex;
    justify-content: flex-end;
    padding-left: 0rem;
    padding-right: 0rem;
   
}
.footer2 a{
    line-height: 1.5rem;
    color: #475569;
    font-size: 0.875rem;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    
}
.footer2 a:first-child{
    padding-left: 0px;
}





/* Media Queries */



@media (max-width: 1400px){
    .banner-container{
        max-width: 1140px;
    }
    .cards-container{
        max-width: 1140px;
    }    
}

@media (max-width: 1200px){
    :root{
        --fs-heading: 2.5rem;
        --fs-para: 1.25rem;
    }
    .banner-container{
        max-width: 960px;
    }
    /* .banner-text{
        padding: 0px;
    } */
    .banner-img img {

        width: 468px;
        height: 345.29px;
    }
    /* .banner-text{
        padding-left: 12px;
    } */
    .cards-container{
        max-width: 960px;
    }  
}


@media only screen and (max-width: 992px) {
    /* body */
    :root{
        --fs-heading: 2.50rem;
        --fs-para: 1.25rem

    }
    body{
        
        padding-left: 0rem;
        padding-right: 0rem;
        
    }
    /* Body Ends */
    /* Navbar */
    /* #ex1{
        height: 55px;
        width: 537.600px;
        overflow: auto;
        border: 1px solid black;
    } */
    .navbar-toggler{
        float: left;
    }
    #nav-right {
        position: absolute;
        right: 3.1875rem;
        top: 0.5rem;
    }
    .navbar-toggler{
        color: blue;
        width: 2.25rem;
        height: 1.875rem;
        border: 0.0625rem solid blue;
    }
    .navbar-toggler-icon{
        width: 100%;
        object-fit: contain;
    }
    .nav-right-item{
        margin-left: 0.0625rem;
        margin-right: 0.1875rem;
    }
    .bi-brightness-high-fill{
        margin-right: 0.4375rem;
    }

    /* Navbar Ends */
    /* Banner */
    .banner-container{
        max-width: 720px;
        padding-bottom: 5.5rem;
    }
    /* .banner-text{
        padding-right: 0rem;
      
        
    } */
   

    .main-bd-right{
        margin-top: 0rem;
    }

    .cards-container{
        max-width: 720px;
        
    }
    .card{
       width: 48%;
       margin-top: 20px;
    }  
}


@media only screen and (max-width: 767px) {
    .banner-container{
        max-width: 540px;
    }
    /* .banner-text{
        padding-right: 0rem;
        
    } */
    .bt-inter{
        display: none;
    }

    .cards-container{
        max-width: 540px;
    }  
    /* copy the code for navbar and cards of 576 media quries */


}
@media only screen and (max-width: 576px) {
    
    
    :root{
        --fs-heading: 2.50rem;
        --fs-para: 1.25rem
    }

    /* body */

    
    body{
        
        padding-left: 0rem;
        padding-right: 0rem;
        
    }

    /* Body Ends */
    /* Navbar */
    
    .navbar-collapse{
        position: absolute;
        top: 3.125rem;
        width: 100vw;
        left: 0;
        transition-duration: 0.3s;
        height: fit-content !important;
        
    }
    .navbar-collapse ul{
        display: flex;
        justify-content: flex-start;
        align-items: start;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        

    }
    .navbar-collapse ul li{
        width: 100%;
        text-align: left;
        border-bottom: 0.0625rem solid black;
        padding-top: 0.5rem;
        padding-bottom: 0rem;

    }
    .navbar-collapse ul li button{
        width: 100%;
    }
    #nav-form{
        width: 95%;
        margin: 0rem;
        margin-top: 0.625rem;
    }
    #nav-right {
        position: absolute;
        right: 3.1875rem;
        top: 0.5rem;
    }
    .navbar-toggler{
        color: blue;
        width: 2.25rem;
        height: 1.875rem;
        border: 0.0625rem solid blue;
    }
    .navbar-toggler-icon{
        width: 100%;
        object-fit: cover;
    }
    .nav-right-item{
        margin-left: 0.0625rem;
        margin-right: 0.1875rem;
    }
    .bi-brightness-high-fill{
        margin-right: 0.4375rem;
    }

    /* Navbar ends */
    /* Banner */

    .banner {
        width: 100vw;
        box-sizing: border-box;
              
    }
    /* .banner-text{
        padding-left: 0.75rem;
        padding-right: 0;

    } */

    /* Card Responsiveness */
    
    .Cards{
        padding-left: 12px;
        padding-right: 12px;
        margin: auto;
    }

    .card{
        width: 100%;
        margin-top: 20px;
     }  

    /* for footer */
    #footer-container{
        background-color: #F1F5F9;
        padding: 0.5rem 3.9rem;
        
        color: #475569;
        
    }
    .footer1 {
        width: 100%;
        padding-top: 0rem;
        text-align: center;
        font-size: 0.875rem;
    }
    .footer2{

        display: flex;
        justify-content: space-evenly;
        width: 100%;
        
        font-size: 0.875rem;
        font-weight: 100;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 0.25rem;
        padding-top: 0.20rem;
    }
}

.baru {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .baru-header {
    background-color: #ee9425;
    color: #fff;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
  }
  